@model CarpoolApp.Areas.Driver.ViewModels.Obavijesti.ObavijestiDetaljiVM
@using CarpoolApp.Helper
@{
    ViewData["Title"] = "Index";
}
<script src="~/jsFIT.js" asp-append-version="true"></script>
<link href="~/css/Obavijesti.css" rel="stylesheet" asp-append-version="true">

<div class="row">
    @for (var i = 0; i < Model.Obavijesti.Count(); i++)
    {
        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                @Model.Obavijesti[i].Naslov
                            </h2>
                            @if (Model.Obavijesti[i].TipObavijesti.NazivTipa == "Hitno")
                            {
                                <h3 class="post-subtitle">
                                    @Model.Obavijesti[i].KratkiOpis.Substring(0, @Model.Obavijesti[i].KratkiOpis.IndexOf(".") + 1)
                                </h3>
                                <i style="color:red;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            }
                            else
                            {
                                <h3 class="post-subtitle">
                                    @Model.Obavijesti[i].KratkiOpis.Substring(0, @Model.Obavijesti[i].KratkiOpis.IndexOf(".") + 1)
                                </h3>
                                <i style="color:lightblue;" class="fa fa-info-circle" aria-hidden="true"></i>
                            }
                        </a>
                        <p class="post-meta">
                            Objavio/la @Model.Obavijesti[i].KorisnickoIme @DateTimeHelper.GetFriendlyRelativeTime(Model.Obavijesti[i].DatumVrijemeObjave)
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    }
    <div class="formPagination">
        <form ajax-url="/Driver/Obavijesti/LicneObavijesti" ajax-result="obavijestiDiv" class="pagination justify-content-center">
            <vc:pagination paging-list="@Model.Obavijesti" />
        </form>
    </div>
</div>
