@model CarpoolApp.Areas.Driver.ViewModels.Obavijesti.ObavijestiDetaljiVM
@using CarpoolApp.Helper

@*@model ReflectionIT.Mvc.Paging.PagingList<CarpoolApp.Models.Obavijesti>
    @using ReflectionIT.Mvc.Paging
    @addTagHelper *, ReflectionIT.Mvc.Paging*@

@{
    ViewData["Title"] = "SveObavijesti";
}

<script src="~/jsFIT.js" asp-append-version="true"></script>
<!-- Custom styles for this template -->
<link href="~/css/Obavijesti.css" rel="stylesheet" asp-append-version="true">

<div class="row">
    @for (var i = Model.Obavijesti.Count() - 1; i >= 0; i--)
    {
        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                @Model.Obavijesti[i].Naslov
                            </h2>
                            @if (Model.Obavijesti[i].TipObavijesti.NazivTipa == "Hitno")
                            {
                                <h3 class="post-subtitle">
                                    @Model.Obavijesti[i].KratkiOpis.Substring(0, @Model.Obavijesti[i].KratkiOpis.IndexOf(".") + 1)
                                </h3>
                                <i style="color:red;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            }
                            else
                            {
                                <h3 class="post-subtitle">
                                    @Model.Obavijesti[i].KratkiOpis.Substring(0, @Model.Obavijesti[i].KratkiOpis.IndexOf(".") + 1)
                                </h3>
                                <i style="color:lightblue;" class="fa fa-info-circle" aria-hidden="true"></i>
                            }
                        </a>
                        <p class="post-meta">
                            Objavio/la @Model.Obavijesti[i].KorisnickoIme @DateTimeHelper.GetFriendlyRelativeTime(Model.Obavijesti[i].DatumVrijemeObjave)
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    }

    <div class="pagination">

        <form ajax-url="/Driver/Obavijesti/SveObavijesti" ajax-result="obavijestiDiv">
            <vc:pagination paging-list="@Model.Obavijesti" />
        </form>
    </div>
</div>














@*<cs-pager cs-paging-pagenumber="4"
                  cs-paging-totalitems="4"
                  cs-paging-pagesize="1"
                  cs-pagenumber-param="pagenumber"
                  asp-controller="Obavijesti"
                  asp-action="SveObavijesti"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link"></cs-pager>
    </div>*@



<!-- Pager -->
@*<nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>*@

