@model AutomobilDetaljiVM

@{
    ViewData["Title"] = "Detalji";
}


<link href="~/bootstrapTheme/css/freelancer.css" rel="stylesheet" asp-append-version="true">


<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Automobili</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-car"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div style="text-align:right;">
            <a class="btn btn-primary" id="btnDodajVozilo" asp-area="Driver" asp-controller="Automobil" asp-action="Dodaj"><i class="fas fa-plus fa-2x"></i></a>
            <br />
            <br />
        </div>
        <!-- Portfolio Grid Items -->
        <div class="row">
            @for (var i = 0; i < Model.automobili.Count(); i++)
            {
                string slikaPath = "~/imgs/" + (Model.automobili[i].Slika ?? "carnotfound.jpg");
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal_@i">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img style="height:250px; width:100%;" class="img-fluid" src="@slikaPath" alt="" asp-append-version="true">
                    </div>
                </div>

                <!-- Portfolio Modals -->
                <div class="portfolio-modal modal fade" id="portfolioModal_@i" tabindex="-1" role="dialog" aria-labelledby="portfolioModalLabel_@i" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button>
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title -->
                                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">@Model.automobili[i].Naziv  @Model.automobili[i].Model</h2>
                                            <!-- Icon Divider -->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="divider-custom-icon">
                                                    <i class="fas fa-car"></i>
                                                </div>
                                                <div class="divider-custom-line"></div>
                                            </div>
                                            <!-- Portfolio Modal - Image -->
                                            <img class="img-fluid rounded mb-5" src="@slikaPath" asp-append-version="true" />
                                            <h4 class="text-uppercase mb-4">@Model.automobili[i].Godiste</h4>
                                            <h4 class="text-uppercase mb-4">@Model.automobili[i].BrojRegOznaka</h4>
                                            <h4 class="text-uppercase mb-4">@Model.automobili[i].DatumIstekaRegistracije.ToString("dd-mm-yyyy")</h4>

                                            <a class="btn btn-secondary" asp-action="Uredi" asp-controller="Automobil" asp-route-automobilID="@Model.automobili[i].AutomobilID">
                                                <i class="fas fa-edit fa-fw"></i>
                                                Uredi
                                            </a>
                                            <a class="btn btn-danger" asp-action="Obrisi" asp-controller="Automobil" asp-route-automobilID="@Model.automobili[i].AutomobilID">
                                                <i class="fas fa-trash fa-fw"></i>
                                                Ukloni
                                            </a>
                                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                                <i class="fas fa-times fa-fw"></i>
                                                Zatvori
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

