@model AutomobilDetaljiVM

@{
    ViewData["Title"] = "Detalji";
}
<link rel="stylesheet" href="~/css/driver.css" asp-append-version="true" />
<link rel="stylesheet" href="~/jsFIT.js" asp-append-version="true" />
<a ajax-poziv="da" ajax-rezultat="tabelaAutomobili" href="/Driver/Automobil/Dodaj" class="btn btn-primary" id="btnDodajVozilo" @*asp-area="Driver" asp-controller="Automobil" asp-action="Dodaj"*@>Dodaj vozilo</a>
<br />
<br />


<div class="automobilContainer">
    @foreach (var item in Model.automobili)
    {
        string slikaPath = "~/imgs/" + (item.Slika ?? "carnotfound.jpg");
        <div class="card">
            <img class="card-img-top" src="@slikaPath" alt="Card image cap" asp-append-version="true">
            <div class="card-body">
                <h5 class="car-title nazivAuta">@item.Naziv  @item.Model</h5>
                <h6 class="car-title">@item.Godiste</h6>
                <h6 class="car-title">@item.BrojRegOznaka</h6>
                <h6 class="car-title">@item.DatumIstekaRegistracije.ToString("dd-mm-yyyy")</h6>
                <a asp-controller="Automobil" asp-action="Obrisi" asp-route-automobilId="@item.AutomobilID" class="btn btn-danger btn-obrisi">Ukloni</a>
                <a asp-controller="Automobil" asp-action="Uredi" asp-route-automobilId="@item.AutomobilID" class="btn btn-primary btn-obrisi">Uredi</a>
            </div>
        </div>
    }
</div>


